


*{
   font-family: sans-serif;  
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   text-transform: capitalize;
   transition: all .2s linear;
}

.header{
    border: 0px solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: 0 .1rem 1rem rgba(0,0,0.1);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
}

.header .logo  i{
    color: green;
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: black;
}

.header .navbar a:hover{
    color: brown;
}

.header .icons i{
     /* border: 2px solid black; */
     width: 4.5rem;
     height: 4.5rem;
     line-height: 4.5rem;
     border-radius: 4.5rem;
     background: #eee;
     color: black;
     font-size: 2rem;
     margin-right: .3rem;
     text-align: center;
}

.header .icons i:hover{
    background:green ;
    color: white;
}
#menu-btn{
    display: none;
}


.header .search-form{
    /* border: 2px solid black; */
    position: absolute;
    top: 110%;
    /* right: 1rem; */
    right: -110%;
    width: 25rem;
    height: 4rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: 0 .1rem 1rem rgba(0,0,0.1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: black;
    padding: 0 1rem;
}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: black;
    cursor: pointer;
}

.header .search-form label:hover{
    color: red;
}


.header .search-form.active{
    right: 2rem ;
    transition: .4s linear;
}

.header .shopping-cart{
    /* border: 2px solid black; */
    position: absolute;
    top: 110%;
    /* right: 2rem; */
    right: -110%;
    padding: 1rem;
    border-radius: .5 rem;
    box-shadow: 0 .1rem 1rem rgba(0,0,0.1);
    width: 15rem;
    background: #fff;
}

.header .shopping-cart.active{
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box{
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    gap: 1 rem;
    justify-content: space-evenly;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img{
    
}

.header .shopping-cart .box .fa-trash{
    font-size: 1rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: #fff;
    /* transform: translateY(-10%); */


}

.header .shopping-cart .box .fa-trash:hover{
    color: red;
}

.header .shopping-cart .box .content h3{
    color: black;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span{
    color: aqua;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content .quantity{
    padding-left: 1rem;
}

.header .shopping-cart .total{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: black;
}

.btn{
    border: 1px solid black;
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    color: black;
}

.btn:hover{
    color: #fff;
    background-color: red;
}

.header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin: 1rem 0;
}


.box img{
    width: 30px;
    height: 30px;
    
}


.login{
    position: absolute;
    top: 110%;
    /* right: 2rem; */
    /* border: 2px solid black; */
    right: -110%;
    height: 250px;
    box-shadow: 0 .1rem 1rem rgba(0,0,0.1);
}

.login.active{
    right: 2rem;
    transition: .4s linear;
}

.login.active1{
    right: -110%;
    transition: .4s linear;
}



.login input{
    border: 2px solid black;
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
    align-items: center;
    background-color: #fff;
    
}

.login1 h4{
    margin-top: 10px;
    padding: 5px 5px;
    gap: 10px;
}

.login2{
    margin-top: 10px;
    align-items: center;
    margin-left: 50px;
    text-align: center;
    border: 2px solid black;
    padding: 10px 15px 10px 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
}


.login2:hover{
    background-color: blue;
    color: #fff;
    
}